* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* reset */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* struttura pagina */
body {
  margin: 20px auto;
  width: 60%;
  border: 1 px solid black;
}

/* logo e barra */
header {
  height: 120px;
  background-color: #e579e6;
}

.logo {
  width: 100px;
  /* height: 60px;
  border: 1px solid black;
  background-color: white; */
}
.logo-img{
  width: 150px;
  height: 100px;
  padding: 10%;
}
.menu {
  width: 500px;
  height: 40px;
  margin: 1px solid black;
  background-color: white;
  margin-top: 20px;
}

/* immagine e descrizione */
main {
  height: 600px;
  background-color: #e1d67a;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
}

.description{
    width: 600px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    bottom: 10px;
    left:0;
}

/* sezione a colonne */
article {
  height: 600px;
  background-color: #adcedf;
  margin-top: 20px;
  position: relative;
}
.square-top{
    width: 100%;
    height: 40%;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}

.container {
  width: 100%;
  height: 500px;
  background-color: #107de6;
  border: 1px solid #107de6;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.title{
    width: 600px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    
}

.left {
  width: 20%;
  height: 450px;
  border: 1px solid #adcedf;
  background-color: #adcedf;
  margin-top: 25px;
  margin-bottom: 25px;
  float: left;
}
.center {
  width: 55%;
  height: 450px;
  border: 1px solid #adcedf;
  background-color: #adcedf;
  margin: 25px 20px;
  float: left;
}
.right {
  width: 20%;
  height: 450px;
  border: 1px solid #adcedf;
  background-color: #adcedf;
  margin-top: 25px;
  margin-bottom: 25px;
  float: right;
}

/* ringraziamenti */
footer {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  background-color: #8801fe;
  border: 1px solid #8801fe;
  position: relative;
}
.made-by{
  width: 150px;
  height: 30px;
  border: 1px solid #adcedf;
  background-color: #adcedf; 
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  
}
